.logomashina {
	padding-top: 80px;
	padding-bottom: 48px;
	background-color: $blue;

	&__content {
		margin-left: 100px;
		color: $beige;
	}

	&__title {
		margin-bottom: 10px;

		h2 {
			font-size: 40px;
			line-height: 48px;
			color: $beige;
		}
	}

	&__text {
		width: 910px;
		margin-left: 30px;

		&-fst, &-snd {
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			margin-bottom: 20px;
		}
	}
}